$verde__tm: rgb(0, 150, 0);
$verde__acua: rgb(0, 200, 0);
$verde__bgs:rgb(0, 255, 0);       

.card {
    color: rgb(0, 255, 0);
  }
  

  @each $obra in obra1, obra2, obra3, obra4, obra5, obra6, obra7, obra8, obra9 {
    .#{$obra} {
      height: 100%;
      width: 100%;
 }
}
