.descripcionLxfleur {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    margin: 10px;
    background-color: rgba(0, 255, 0, 0.9);
  }
  
  footer {
    padding: 12px;
    text-align: left;
    color: #4CAF50;
  }