
* {
  margin: 0 auto;
  font-size: 100%;
  width: auto;
  height: auto;
  @import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
  font-family: 'Oswald', sans-serif;
}
